<?xml version="1.0"?>
<robot name="maze_runner">

  <!-- colors-->
  <material name="blue">
    <color rgba="0.2 0.2 0.8 1.0"/>
  </material>
  <material name="black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>

  <!--body-->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="1.0" length="0.1"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="1.0" length="0.1"/>
      </geometry>
    </collision>
    <!-- mass and inertia -->
    <inertial>
      <mass value="5.0"/>
      <inertia ixx="1.25" ixy="0.0" ixz="0.0" iyy="1.25" iyz="0.0" izz="2.5"/>
    </inertial>
  </link>

  <!-- left wheel   -->
  <link name="left_wheel">
    <visual>
      <origin rpy="1.570796 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.570796 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.003" iyz="0" izz="0.005"/>
    </inertial>
  </link>

  <!-- attach left wheel-->
  <joint name="left_motor" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="-0.1 1.05 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- right wheel   -->
  <link name="right_wheel">
    <visual>
      <origin rpy="1.570796 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="1.570796 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.003" iyz="0" izz="0.005"/>
    </inertial>
  </link>

  <!-- attach right wheel-->
  <joint name="right_motor" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="-0.1 -1.05 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- caster wheel -->
  <link name="caster">
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0005" ixy="0" ixz="0" iyy="0.0005" iyz="0" izz="0.0005"/>
    </inertial>
  </link>

  <!-- caster wheel joint-->
  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster"/>
    <origin xyz="0.8 0 -0.05"/>
  </joint>

</robot>